div#map {
	width: 800px;
	height: 800px;
	border: 2px solid #09c;
	float: left;
}
div#controls {
	margin-left: 15px;
	float: left;
}
div.controlArea {
	margin-left: 30px;
	margin-bottom: 35px;
}
div.control {
	margin-left: 30px;
	margin-bottom: 10px;
}
div.control select, div.control div#colorScheme, div.control div#classBreaks-slider {
	margin-left: 30px;
}
input#dotValue {
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
}

div#colorScheme {
	border: 1px solid #000;
	
	width: 300px;
	height: 30px;
	
	margin-bottom: 12px;
}

div.colorChip {
	float: left;
	height: 100%;
}

h1 {
	font-size: 18px;
	margin-bottom: 20px;
}

h2 {
	font-size: 16px;
	margin-bottom: 18px;
}

h3 {
	font-size: 14px;
	margin-bottom: 16px;
}

h4 {
	font-size: 12px;
	margin-bottom: 14px;
}
