/* this just contains some styles that are used in the tests of OpenLayers-Symbology */

div#map {
	width: 600px;
	height: 600px;
	border: 2px solid #09c;
	float: left;
}
div#controls {
	margin-left: 15px;
	float: left;
}
div.controlArea {
	margin-left: 30px;
	margin-bottom: 35px;
}
div.control {
	margin-left: 30px;
	margin-bottom: 10px;
}
div.control select, div.control div.colorScheme, div.control div.slider {
	margin-left: 30px;
}

div.slider {
	margin-top: 10px;
}

input#dotValue {
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
}

div.colorScheme {
	height: 30px;
	margin-bottom: 12px;
}

div.colorScheme.unclassed {
	border: solid 1px #000;
	
	background-image: linear-gradient(left , rgb(129,230,239) 37%, rgb(210,156,255) 69%, rgb(186,255,255) 85%);
	background-image: -o-linear-gradient(left , rgb(129,230,239) 37%, rgb(210,156,255) 69%, rgb(186,255,255) 85%);
	background-image: -moz-linear-gradient(left , rgb(129,230,239) 37%, rgb(210,156,255) 69%, rgb(186,255,255) 85%);
	background-image: -webkit-linear-gradient(left , rgb(129,230,239) 37%, rgb(210,156,255) 69%, rgb(186,255,255) 85%);
	background-image: -ms-linear-gradient(left , rgb(129,230,239) 37%, rgb(210,156,255) 69%, rgb(186,255,255) 85%);
}

div.colorChip {
	float: left;
	height: 100%;
	
	border: solid 1px #000;
	
	/*
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	border-left: solid 1px #000;
	*/
}

h1 {
	font-size: 18px;
	margin-bottom: 20px;
}

h2 {
	font-size: 16px;
	margin-bottom: 18px;
}

h3 {
	font-size: 14px;
	margin-bottom: 16px;
}

h4 {
	font-size: 12px;
	margin-bottom: 14px;
}

/* these styles are just for the olson cartogram reproduction */

div#container {
	width: 800px;
	height: 533px;
	border: 2px solid #000;
	
	position: relative;
}

div.olson#map {
	width: 100%;
	height: 100%;
	
	border: none;
}

div#container h1 {
	font-size: 14px;
	font-family: sans-serif;
	text-transform: uppercase;
	
	position: absolute;
	
	top: 17px;
	left: 230px;
	
	color: #333;
	
	letter-spacing: 2px;
}

div#cartogramLegend {
	position: absolute;
	left: 22px;
	bottom: 66px;
	
	clear: right;
}

div#legendChip {
	width: 18px;
	height: 18px;
	
	background-color: #ddd;
	border: 1px solid #333;
	
	float: left;
}


p#legendText {
	float: left;
	
	padding-top: 0;
	margin-top: 4px;
	
	margin-left: 6px;
	
	font-size: 11px;
	font-family: sans-serif;
	
	letter-spacing: 1px;
}

p#credits {
	position: absolute;
	
	margin-bottom: 4px;
	left: 20px;
	bottom: 0;
	
	font-size: 10px;
	font-family: sans-serif;
	letter-spacing: 1px;
}